.grid-container {
    display: grid; 
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
   }
   .grid-item {
       background-color: #4c8baf;
       color: white;
       border: 1px;
       padding: 20px;
       text-align: center;
       font-size: 30px;
   }
